:root{
    --yellow:#ffc54d;
    --white:whitesmoke;
    --green:#53bf9d;
    --red:crimson;

}



body,h2{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   

}
.landing{
    background-image: url(./media/pexels-jessica-lewis-858094.jpg);
    background-size:cover;
    background-position: center;
    height: 100vh;
    color:var(--white);
}
header a{
    text-decoration: none;
    color: var(--yellow);

}
header a:hover{
    color: var(--green);
}
header{
    display: flex;
    padding: 1em;
}
header a i,nav a i{
    margin-right: .5em ;
}
#logo{
    flex: 3;
    font-size: 1.25em;
}
nav{
    flex: 2;
    display: flex;
}
nav a{
    flex: 1;

}
nav a:hover{
    color: var(--green);

}

.maintext{
    display: flex;
    flex-direction: column;
    padding: 2em;
    height: 50vh;
    justify-content: center;

}
.tagline1{
    color: var(--red);
    font-weight: bolder;
    font-size: 2.5em;
}
.tagline2{
    color: var(--yellow);
}
.maintext div{
    margin-top: .75em;
}
.maintext button{
    width: 10vw;
    margin-top: 10px;
    border-radius: 10px;
    padding: .7em;
    background-color: var(--green);
    color: var(--white);
    border: 2px solid white;

}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    background: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: var(--white);
}
#menuheading,#locheading{
    background: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    font-size: 2.5em;
    color: var(--red);
    display: flex;
    justify-content: center;
}
.menu th{
    color: var(--green);
    font-size: 1.8em;
}
table{
    width: 100%;
    padding: 1em;

}
.menu tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.menu td:nth-child(1){
    flex: 1;
    justify-self: left;

}
.menu td:nth-child(2){
    
    justify-self: right;

}
.maincourse{
    grid-row: span 2;
}

.locations{
    display: flex;
    
    background: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: var(--white);
}
.locations h2{
    color: var(--green);

    margin-bottom: .8em;
}
.locations div{
    flex:1;
    padding: 1em;
    min-width: 220px;
}

footer{
    background: linear-gradient(to right,rgb(100, 100, 100),rgb(53, 52, 52));
    color: var(--white);
    padding: .25em 1em;

}

  